* {
	font-family: Georgia, serif;
	margin: 0;
}

h2 {
	text-align: center;
}

button {
	background-color: rgb(236, 133, 42);
    border: 2px solid rgb(236, 133, 42);
    color: white;
}

button:active,
a:active {
	opacity: 0.7;
}

select {
    color: black;
}

.App {
	background: rgb(223, 190, 128);
    background: linear-gradient(0deg, rgba(223, 190 ,128, 1) 0%, rgba(251, 210, 132, 1) 100%);
	border: 1px solid rgb(223, 190, 128);
	min-height: 100vh;
	padding-bottom: 4vh;
}

@keyframes appear {
	from {
		opacity: 0.2;
	}
	to {
		opacity: 1;
	}
}

/* Desktop */
@media screen and (min-width: 1280px) {
	h1 {
		font-size: 40px;
	}
}

@media screen and (max-width: 1279px) {
	h1,
	header a {
		font-size: 3rem;
	}

	h2,
	h3 {
		font-size: 2rem;
	}

	label,
	input,
	button,
	a,
	select {
		font-size: 25px;
	}
}

/* iPad */
@media screen and (max-width: 768px) {
	label,
	input,
	button,
	a,
	select {
		font-size: 25px;
	}
}

/* Surface Duo */
@media screen and (max-width: 540px) {
	h1,
	header a {
		font-size: 2rem;
	}

	h2,
	h3 {
		font-size: 20px;
	}

	label,
	input,
	button,
	a,
	select {
		font-size: 15px;
	}
}