.question-submit {
    display: flex;
    justify-content: center;
}

/* Desktop */
@media screen and (min-width: 1280px) {
    .questions form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .question {
        margin-top: 2vh;
        width: 15%;
    }

    #question-heading {
        color: rgb(184, 99, 28);
    }

    #question-add {
        background-color: rgb(184, 99, 28);
        border: 2px solid rgb(184, 99, 28);
    }
}

@media screen and (max-width: 1279px) {
    .questions {
        display: flex;
        justify-content: center;
    }

    #question-add {
        background-color: black;
        border: 2px solid black;
    }
}
