.home-bottom {
    margin-top: 2vh;
}

.home-bottom-right-panel {
    margin-top: 2vh;
}

/* Desktop */
@media screen and (min-width: 1280px) {
    .home-bottom {
        display: flex;
        justify-content: space-around;
        margin-left: 5%;
        width: 90%;
    }
    
    .home-bottom-right-panel {
        width: 35%;
    }
}