.view-test {
    padding-bottom: 5vh;
}

#vt-description {
    margin-top: 2vh;
    text-align: center;
}

.vtq-question {
    animation-name: appear;
    animation-duration: 4s;
    box-shadow: 0 29px 52px rgba(0, 0, 0, 0.40), 0 25px 10px rgba(0, 0, 0, 0.20);
}

/* Desktop */
@media screen and (min-width: 1280px) {
    .view-test h2 {
        margin-top: 4vh;
    }   
    
    .view-test-questions {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: -4vh;
    }

    .vtq-question {
        background-color: rgb(255, 241, 203);
        margin-top: 10vh;
        width: 15%;
    }
}

@media screen and (max-width: 1279px) {
    .view-test h2 {
        margin-top: 2vh;
    }
    
    .view-test-questions {
        margin-top: -3vh;
    }

    .vtq-question {
        background-color: white;
        margin-left: 25%;
        margin-top: 5vh;
        width: 50%;
    }
}