.create-test form {
    padding-bottom: 5vh;
}

.ct-create-questions {
    text-align: center;
}

.ct-create-questions a {
    color: rgb(249, 100, 31);
}

.create-test form label,
.create-test form input,
.create-test form textarea,
.create-test form select,
.create-test form button {
    margin-left: 5%;
}

/* Desktop */
@media screen and (min-width: 1280px) {
    .create-test form {
        margin-left: 35%;
        margin-top: 4vh;
        width: 30%;
    }
}

@media screen and (max-width: 1279px) {
    .create-test form {
        background-color: white;
        margin-left: 30%;
        margin-top: 4vh;
        width: 40%;
    }

    .ct-create-questions {
        margin-top: 4vh;
    }
    
}

/* iPad */
@media screen and (max-width: 768px) {
    .create-test form {
        margin-left: 25%;
        width: 50%;
    }
}

/* iPhone 6/7/8 Plus */
@media screen and (max-width: 414px) {
    .create-test form {
        margin-left: 15%;
        width: 70%;
    }
}