header {
    background-color: rgb(236, 133, 42);
    padding: 2vh;
    text-align: center;
}

header h1,
header p,
header a {
    color: white;
    text-decoration: none;
}

.nav-to-update {
    text-decoration: underline;
}

.nav-to-update:active {
    text-decoration: none;
}
