.user-tests {
    margin-top: 2vh;
}

.user-tests h3 {
    text-align: center;
}

.user-test-display {
    padding-bottom: 4vh;
}

.utd-single-test {
    animation-name: appear;
    animation-duration: 4s;
    box-shadow: rgba(236, 133, 42, 0.4) 0px 10px 30px;
}

.utd-single-test a {
    color: black;
}

.utdst-header {
    display: flex;
    justify-content: space-between;
}

#utdst-incomplete {
    color: rgb(184, 99, 28);
}

.ut-bottom {
    display: flex;
    justify-content: center;
}

/* Desktop */
@media screen and (min-width: 1280px) {
    .user-tests {
        margin-left: 5%;
        width: 90%;
    }

    .user-test-display {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .utd-single-test {
        background-color: rgb(255, 241, 203);
        margin-top: 4vh;
        width: 30%;
    }

    #utdst-incomplete {
        text-align: right;
    }
}

@media screen and (max-width: 1279px) {
    .utd-single-test {
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
        margin-left: 25%;
        margin-top: 3vh;
        width: 50%;
    }

    #utdst-incomplete {
        text-align: center;
    }
}

/* iPhone 6/7/8 Plus */
@media screen and (max-width: 414px) {
    .utd-single-test {
        margin-left: 10%;
        width: 80%;
    }
}