.user-tests {
    margin-top: 2vh;
}

.user-tests h3 {
    text-align: center;
}

.user-test-display {
    padding-bottom: 4vh;
}

.utd-single-test {
    box-shadow: rgba(249, 32, 68, 0.35) 0px 5px 15px;
}

.ut-bottom {
    display: flex;
    justify-content: center;
}

/* Desktop */
@media screen and (min-width: 1280px) {
    .user-tests {
        margin-left: 5%;
        width: 90%;
    }

    .user-test-display {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .utd-single-test {
        margin-top: 4vh;
        width: 30%;
    }
}

@media screen and (max-width: 1279px) {
    .utd-single-test {
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin-top: 3vh;
        margin-left: 25%;
        width: 50%;
    }
}

/* iPad Pro */
@media screen and (max-width: 1024px) {

}

/* iPad */
@media screen and (max-width: 768px) {

}

/* Surface Duo */
@media screen and (max-width: 540px) {

}

/* iPhone 6/7/8 Plus */
@media screen and (max-width: 414px) {
    .utd-single-test {
        margin-left: 10%;
        width: 80%;
    }
}

/* iPhone 12 Pro */
@media screen and (max-width: 390px) {

}

/* iPhone X */
@media screen and (max-width: 375px) and (max-height: 812px) {

}