.create-questions {
    padding-bottom: 5vh;
}

.cq-selection {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}

/* Desktop */
@media screen and (min-width: 1280px) {
    .create-questions {
        margin-top: 4vh;
    }

    .cq-selection select {
        width: 200px;
    } 
}

@media screen and (max-width: 1279px) {
    .create-questions {
        margin-top: 2vh;
    }

    .cq-selection select {
        width: 25%;
    }  
}

/* iPad */
@media screen and (max-width: 768px) {
    .cq-selection select {
        width: 35%;
    }  
}

/* Surface Duo */
@media screen and (max-width: 540px) {
    .cq-selection select {
        width: 30%;
    }  
}

/* iPhone 6/7/8 Plus */
@media screen and (max-width: 414px) {
    .cq-selection select {
        width: 40%;
    }  
}