.register form {
    background-color: white;
    box-shadow: rgba(236, 133, 42, 0.4) 0px 30px 90px;
    padding-bottom: 3vh;
}

.register h2 {
    background-color: rgb(128, 139, 150);
    color: white;
}

.register button {
    color: white;
}

.register form a {
    color: rgb(236, 133, 42);
}

.register-footer {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    width: 90%;
}

.register form label,
.register form input {
    margin-left: 5%;
}

/* Desktop */
@media screen and (min-width: 1280px) {
    .register form {
        margin-left: 35%;
        margin-top: 10vh;
        width: 30%;
    }
}

@media screen and (max-width: 1279px) {
    .register form {
        box-shadow: rgba(213, 216, 220, 0.4) 0px 30px 90px;
        margin-left: 25%;
        margin-top: 2vh;
        width: 50%;
    }
}

/* iPhone 6/7/8 Plus */
@media screen and (max-width: 414px) {
    .register form {
        margin-left: 10%;
        width: 80%;
    }
}